
/* ==========================================================
   GLOBAL
   ========================================================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,
body,
[class*="css"] {

    font-family: "Roboto", sans-serif;

    color: var(--color-text);

}

.stApp {

    background: var(--color-background);

}

/* Hide Streamlit UI */

#MainMenu {

    visibility: hidden;

}

header {

    visibility: hidden;

}

footer {

    visibility: hidden;

}

/* Container */

.main .block-container {

    max-width: 1200px;

    padding-top: 3rem;

    padding-bottom: 4rem;

    padding-left: 3rem;

    padding-right: 3rem;

}
