div.stButton > button{

    background:#163547;

    color:white;

    border:none;

    border-radius:8px;

    height:52px;

    font-size:1rem;

    font-weight:500;

}

div.stButton > button:hover{

    background:#1F4963;

}

