/* ==========================================================
   HEADER
   ========================================================== */

.page-title {

    color: #163547;

    font-size: 2.6rem;

    font-weight: 700;

    margin-bottom: .2rem;

}

.page-subtitle {

    color: #66788A;

    font-size: 1.15rem;

}
